
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

.log-message {
  color: inherit;
}

.log-line {
  margin-bottom: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
